<!-- doctor/templates/doctor/base_doctor.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ohna{% endblock %}</title>

    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'doctor:home' %}">Your Doctor</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/view_appointments/">View Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'doctor:give_appointment' %}">Give Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'doctor:doctor_dashboard' %}">DashBoard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Your Doctor-specific Content Goes Here -->
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
