<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <style>
    body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: dimgrey;
    color: #696969;
    padding: 60px;
}

#main {
    padding: 5px;
    padding-left:  10px;
    padding-right: 10px;
    background-color: #ffffff;
    border-radius: 0 0 2px 2px;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}
  </style>
</head>

<body>

<div id="main" align="center">
  <h1>About Us</h1>

  <p>Insites Health & Nutrition stands out for its commitment to accuracy, credibility, and accessibility. Our team of experienced health professionals, nutritionists, and writers meticulously researches and reviews each piece of content to ensure it meets the highest standards of reliability and relevance.</p>
  <p>From debunking common health myths to exploring the latest trends in nutrition, our content covers a wide range of topics designed to address the diverse needs and interests of our audience. Whether you're looking for expert advice on managing a specific health condition, navigating dietary preferences, or simply seeking inspiration for leading a healthier lifestyle, you'll find valuable insights and practical guidance here at Insites.</p>
</div>

</body>
</html>
